<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sf="http://www.springframework.org/tags/form"
    xmlns:s="http://www.springframework.org/tags"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div th:if="${param.error}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.error}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.error('Erro na geração do relatório!');
							        }
								};
							/*]]>*/
							</script>
						</div>
						<div th:if="${param.gerado}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.gerado}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Relatório Gerado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
						</div>
					<div class="row text-left">
						<h3 >Relatório de Entrada de produtos</h3>
					</div>
					<hr/>
					<form  th:action="@{/sigem/relatorios/entradaProduto/filtrar}" method="POST"
						class="form-default form-horizontal" >   
					<div class="form-row">
						<div class="form-inline col-md-4">
							<label for="dataInicio" class="col-sm-2 col-form-label   text-right">Período</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="dataInicio"
									id="dataInicio" class="form-control date" placeholder="dd/mm/yyyy"
									/>
<!-- 								<div style="color: red;" th:if="${#fields.hasErrors('dataInicio')}" th:errors="dataInicio" ></div> -->
							</div>
						</div> 
						<div class="form-inline col-md-4">
							<label for="dataFim" class="col-sm-2 col-form-label   text-right"> A </label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="dataFim"
									id="dataFim" class="form-control date" placeholder="dd/mm/yyyy"
									/>
<!-- 								<div style="color: red;" th:if="${#fields.hasErrors('dataCompra')}" th:errors="*{dataCompra}" ></div> -->
							</div>
						</div>
						<div class="form-inline col-md-4">
					      <button type="submit" class="btn btn-primary">Confirmar</button>
					       <button type="button" class="btn btn-primary"
									disabled>
									<i class="fa fa-print"></i>
							</button>
					    </div>
					</div>
					<hr/>
					<label  class="col-form-label" th:if="${not #lists.isEmpty(entradas)}">Relatório de entrada de produtos </label>
					<hr/>
					</form>
					<table id="tabela_entradaProdutos"
				class="table table-hover table-striped table-bordered table-click">
				<thead>
					<tr>
						<th class="">Produto</th>
						<th class="">Código</th>
						<th class="">Quantidade comprada</th>
						<th class="">Valor de compra</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entrada : ${entradas}">
						<td th:text="${entrada.produto.nome}"></td>
						<td th:text="${entrada.produto.codigo}"></td>
						<td th:text="${entrada.qtdComprada}"></td>
						<td th:text="${entrada.precoLoteComprado}"></td>
                    </tr> 
				</tbody>
				<tfoot>
				    <tr>
				      <td colspan="2">Total</td>
				      <td th:text="${qtdTotalCompra}"></td>
				      <td th:text="${valorTotalCompra}"></td>
				      
				    </tr>
				  </tfoot>
			</table>
				</div>
				
			</div>
		</div>
	</section>
</body>

</html>