<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sf="http://www.springframework.org/tags/form"
	xmlns:s="http://www.springframework.org/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div th:if="${param.error}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.error}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.error('Erro na geração do relatório!');
							        }
								};
							/*]]>*/
						</script>
						</div>
						<div th:if="${param.gerado}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.gerado}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Relatório Gerado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
						</div>
					<div class="row text-left">
						<h3>Relatório de Histórico de Preços</h3>
					</div>
					<hr />
					<form th:action="@{/sigem/relatorios/historicoPreco/filtrar}"
						method="POST" class="form-default form-horizontal">
						<div class="form-row">
							<div class="form-inline col-md-4">
								<label for="dataInicio"
									class="col-sm-2 col-form-label   text-right">Período</label>
								<div class="controls col-sm-4 col-sm-4">
									<input type="text" name="dataInicio" id="dataInicio"
										class="form-control date" placeholder="dd/mm/yyyy"/>
									<!-- 								<div style="color: red;" th:if="${#fields.hasErrors('dataInicio')}" th:errors="dataInicio" ></div> -->
								</div>
							</div>
							<div class="form-inline col-md-4">
								<label for="dataFim"
									class="col-sm-2 col-form-label   text-right"> A </label>
								<div class="controls col-sm-4 col-sm-4">
									<input type="text" name="dataFim" id="dataFim"
										class="form-control date" placeholder="dd/mm/yyyy"/>
									<!-- 								<div style="color: red;" th:if="${#fields.hasErrors('dataCompra')}" th:errors="*{dataCompra}" ></div> -->
								</div>
							</div>
							<div class="form-inline col-md-4">
								<button type="submit" class="btn btn-primary">Confirmar</button>
								<button type="button" class="btn btn-info"
					       			data-toggle="modal" data-target="#confirmacaoModal"
									>
									<i class="fa fa-print"></i>
							</button>
							</div>
						</div>
						<hr />
						<label class="col-form-label"
							th:if="${not #lists.isEmpty(historicos)}">Relatório de
							histórico de preços </label>
						<hr />
					</form>
					<table id="tabela_historicos"
						class="table table-hover table-striped table-bordered table-click">
						<thead>
							<tr>
								<th class="">Produto</th>
								<th class="">Código</th>
								<th class="">Data de alteração</th>
								<th class="">Preço anterior</th>
								<th class="">Preço atual</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(historicos)}" th:each="historico : ${historicos}">
								<td th:text="${historico.produto.nome}"></td>
								<td th:text="${historico.produto.codigo}"></td>
								<td th:text="${historico.dataAlteracao}"></td>
								<td th:text="${historico.precoAnterior}"></td>
								<td th:text="${historico.precoAtual}"></td>
							</tr>
							<tr th:if="${#lists.isEmpty(historicos)}">
		                    	<td colspan="5">
			                    	<div class="alert alert-info" style="background-color: #f1f3f5;" role="alert">
									  Nenhum registro encontrado no período especificado.
									</div> 
								</td>
		                    </tr>
						</tbody>
						<tfoot>
						</tfoot>
					</table>
				</div>
				
				<!--  MODAL -->
				<div class="modal fade" id="confirmacaoModal" tabindex="-1"
					role="dialog" aria-labelledby="confirmacaoModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="confirmacaoModalLabel">Geração do relatório em pdf</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form th:action="@{/sigem/relatorios/historicoPreco/gerarPdf}"
								method="POST" class="form-default form-horizontal">
								<div class="modal-body">
									<div class="form-group row justify-content-left">
											<label for="dataInicioModal"
												class="col-sm-4 col-form-label   text-right">Data de início</label>
											<div class="controls col-sm-4">
												<input type="text" name="dataInicioModal" id="dataInicioModal"
													class="form-control date" placeholder="dd/mm/yyyy"/>
											</div>
									</div>
									<div class="form-group row justify-content-left">
											<label for="dataFimModal"
												class="col-sm-4 col-form-label   text-right">Data término</label>
											<div class="controls col-sm-4 col-sm-4">
												<input type="text" name="dataFimModal" id="dataFimModal"
													class="form-control date" placeholder="dd/mm/yyyy"/>
											</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary">Confirmar</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>