<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sf="http://www.springframework.org/tags/form"
    xmlns:s="http://www.springframework.org/tags"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div th:if="${param.error}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.error}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.error('Erro na geração do relatório!');
							        }
								};
							/*]]>*/
							</script>
						</div>
						<div th:if="${param.gerado}">
							<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.gerado}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Relatório Gerado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
						</div>
					<div class="row text-left">
						<h3 >Lista de produtos a vencer</h3>
					</div>
					<hr/>
					<table id="tabela_produtoValidades"
				class="table table-hover table-striped table-bordered table-click">
				<thead>
					<tr>
						<th class="">Produto</th>
						<th class="">Código</th>
						<th class="">Data de validade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(validades)}" th:each="validade : ${validades}">
						<td th:text="${validade.nome}"></td>
						<td th:text="${validade.codigo}"></td>
						<td th:text="${validade.validade}"></td>
                    </tr> 
                    <tr th:if="${#lists.isEmpty(validades)}">
                    	<td colspan="5">
	                    	<div class="alert alert-info" style="background-color: #f1f3f5;" role="alert">
							  Nenhum registro encontrado no período especificado.
							</div> 
						</td>
                    </tr>
				</tbody>
				<tfoot>
				  </tfoot>
			</table>
				</div>
				
			</div>
		</div>
	</section>
</body>

</html>