<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sf="http://www.springframework.org/tags/form"
    xmlns:s="http://www.springframework.org/tags"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div class="row text-left">
						<h3 >Relatórios</h3>
					</div>
					<hr/>   
							<div class="form-group row justify-content-center ">
								<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
									<a sec:authorize="hasRole('ROLE_RELATORIOS_ESTOQUEDISPONIVEL')" th:href="@{/sigem/relatorios/estoqueDisponivel}" class="btn btn-block btn-lg btn-info">
									Relatório de Estoque Disponível</a>
								</div>
								<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
									<a sec:authorize="hasRole('ROLE_RELATORIOS_HISTORICOPRECO')"th:href="@{/sigem/relatorios/historicoPreco}" class="btn btn-block btn-lg btn-info"   
									>Relatório de histórico de preço</a>
								</div>
								
							</div>
							<div class="form-group row justify-content-center ">
								<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
									<a sec:authorize="hasRole('ROLE_RELATORIOS_ENTRADAPRODUTO')" th:href="@{/sigem/relatorios/entradaProduto}" class="btn btn-block btn-lg btn-info"  
									>Relatório de Entrada de Produtos</a>
								</div>
								<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
									<a th:href="@{/sigem/relatorios/retiradaProduto}" class="btn btn-block btn-lg btn-info"   
									>Relatório de Retirada de Produtos</a>
								</div>
							</div>
							<div class="form-group row justify-content-center ">
								<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
									<a sec:authorize="hasRole('ROLE_PRODUTOS_CONSULTAR')" th:href="@{/sigem/relatorios/produtoValidade}" class="btn btn-block btn-lg btn-info"  
									>Produtos a vencer</a>
								</div>
							</div>
					
				</div>
			
				
			</div>
		</div>
	</section>
</body>

</html>