<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div class="row justify-content-center">
						<h3>Atualizar Estoque</h3>
					</div>
					<hr/>
					<!-- MESSAGES -->
					<form th:object="${estoque}" th:action="@{/sigem/estoque/editar/{id}(id=${estoque.id})}" method="POST"
						class="form-default form-horizontal" >
						<input type="hidden" name="estoque"
									id="estoque" class="form-control"
									th:field="*{estoque}" />
						<input type="hidden" name="id"
									id="id" class="form-control"
									th:field="*{id}" />
						<input type="hidden" name="produto"
									id="produto" class="form-control"
									th:field="*{produto}" />
						<div class="form-group row justify-content-center " >
							<label for="estoqueMinimo" class="col-sm-2 col-form-label   text-right">Estoque Minímo</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="estoqueMinimo"
									id="estoqueMinimo" class="form-control"
									th:field="*{estoqueMinimo}" 
									autofocus="autofocus"
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('estoqueMinimo')}" th:errors="*{estoqueMinimo}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="gondola" class="col-sm-2 col-form-label   text-right">Gôndola</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="gondola"
									id="gondola" class="form-control"
									th:field="*{gondola}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('gondola')}" th:errors="*{gondola}" ></div>
							</div>
						</div>
						<hr />
						<div class="form-group row justify-content-center ">
							<div class="col-sm-2 text-right">
								<button type="submit" class="btn btn-lg btn-success">Atualizar</button>
							</div>
							<div class=" col-sm-2">
								<a id="alert" class="btn btn-lg btn-primary" th:href="@{/sigem/estoque}" >
									Cancelar </a>
							</div>
						</div>
				</form>
				</div>
				</div>
			<div id="push"></div>
		</div>
	</section>
</body>
</html>